MATLAB/tests/*
*.mat
ClickTask/MATLAB/tests/*
PerformanceSims/figures/*
ClickTask/Python/.ipynb_checkpoints/*
sims_learning_rate/scripts/.idea/*
ClickTask/Python/Untitled.ipynb
*.db
*.pickle
sims_learning_rate/scripts/cross_over/.ipynb_checkpoints/*
*.fig
*.png
ClickTask/Python/Performances/.idea/*
